$header-height: 70px
$nav-height: 70px
$main-height: calc(100vh - $header-height - $nav-height)

$border-color: rgb(85, 85, 85)
$border: 1px solid rgb(85, 85, 85)
$bg-color: rgb(27, 29, 32)
$scrollbar-color: rgb(88, 93, 96) rgb(32, 35, 36)

// header
$header-text-color: white

// nav
$nav-text-color: rgb(208, 208, 208)
$nav-last-child-text-color: white

// main
